@import "tailwindcss";


@keyframes blinker {
  50% {
    background: white;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.3;
    transform: scale(0.97);
  }
  50% {
    opacity: 0.7;
    transform: scale(1);
  }
  100% {
    opacity: 0.3;
    transform: scale(0.97);
  }
}
